Convert Pandas Series to List?

In [33]:
import pandas as pd
import numpy as np
df=pd.Series([25,36,79,48,60])

In [35]:
my_list = list(df)
my_list

[25, 36, 79, 48, 60]

In [39]:
my_list = df.tolist()
my_list

[25, 36, 79, 48, 60]

Write a program to add,subract,mulitple and divide and compare two programs?

In [15]:
ds1=pd.Series([25,36,79,48,60])
ds2=pd.Series([11,45,58,79,97])

In [17]:
ds1 * ds2

0     275
1    1620
2    4582
3    3792
4    5820
dtype: int64

In [19]:
ds1 - ds2

0    14
1    -9
2    21
3   -31
4   -37
dtype: int64

In [21]:
ds1 / ds2

0    2.272727
1    0.800000
2    1.362069
3    0.607595
4    0.618557
dtype: float64

In [23]:
ds1 + ds2

0     36
1     81
2    137
3    127
4    157
dtype: int64

Convert numpy array to Series

In [25]:
np_array=np.arange(10)
pd.Series(np_array)

0    0
1    1
2    2
3    3
4    4
5    5
6    6
7    7
8    8
9    9
dtype: int32

In [57]:
array = np.arange(10)
pd.Series(array, index = ['a', 'b' , 'c', 'd', 'e', 'f', 'g' , 'h', 'i' , 'j'])

a    0
b    1
c    2
d    3
e    4
f    5
g    6
h    7
i    8
j    9
dtype: int32

Convert Series to Array

In [43]:
s1=pd.Series(['100','200','Python',300.12])
arr = s1.values
arr

array(['100', '200', 'Python', 300.12], dtype=object)

In [47]:
type(arr)

numpy.ndarray

Find the index position of the smallest and the largest number in given series?

In [61]:
nums=pd.Series([1,7,92,12,43,82,1,0,18])

In [87]:
nums.idxmax()

2

In [85]:
nums.idxmin()

7

Write a program to stack given 2 series horizonatally and vertically

In [93]:
s1 = pd.Series([1, 2, 3])
s2 = pd.Series([4, 5, 6])
h_stack = pd.concat([s1, s2], axis = 1)
h_stack

   0  1
0  1  4
1  2  5
2  3  6

In [97]:
v_stack = pd.concat([s1, s2], axis = 0)
v_stack

0    1
1    2
2    3
0    4
1    5
2    6
dtype: int64

Write a program to display all sunday of 2020:

In [117]:
import pandas as pd
sundays = pd.date_range(start = '2020-01-01', end = '2020-12-31', freq = 'W-SUN')

for day in sundays:
    print(day.date())

2020-01-05
2020-01-12
2020-01-19
2020-01-26
2020-02-02
2020-02-09
2020-02-16
2020-02-23
2020-03-01
2020-03-08
2020-03-15
2020-03-22
2020-03-29
2020-04-05
2020-04-12
2020-04-19
2020-04-26
2020-05-03
2020-05-10
2020-05-17
2020-05-24
2020-05-31
2020-06-07
2020-06-14
2020-06-21
2020-06-28
2020-07-05
2020-07-12
2020-07-19
2020-07-26
2020-08-02
2020-08-09
2020-08-16
2020-08-23
2020-08-30
2020-09-06
2020-09-13
2020-09-20
2020-09-27
2020-10-04
2020-10-11
2020-10-18
2020-10-25
2020-11-01
2020-11-08
2020-11-15
2020-11-22
2020-11-29
2020-12-06
2020-12-13
2020-12-20
2020-12-27

Convert first character of each word in a Series to Upper Case

In [137]:
import pandas as pd
s = pd.Series(['hello world', 'python programming', 'data science', 'artifical intelligence'])
s.str.capitalize()

0               Hello world
1        Python programming
2              Data science
3    Artifical intelligence
dtype: object